---
import Layout from "../layouts/Layout.astro";
import Init from "../layouts/Section/Init.astro";

import Where from "src/layouts/Section/Where.astro";
import Invitation from "src/layouts/Section/Invitation.astro";
import Title from "src/components/Section/Title.astro";

const viajeEnMoto = {
	"Planificacion del viaje": [
		{
			pregunta:
				"¿Cuál es la mejor época del año para hacer esta ruta en moto?",
			respuesta:
				"La mejor época para realizar esta ruta es durante la temporada seca, que va de diciembre a marzo y de junio a agosto. Por eso es que se escogió el 27 enero para el viaje.",
		},
		{
			pregunta: "¿Cuánto tiempo lleva completar esta ruta en moto?",
			respuesta:
				"Esta ruta puede tomar de 2 a 3 días, dependiendo de las paradas y el ritmo del viaje.",
		},
	],
	"Logistica y servicios": [
		{
			pregunta: "¿Hay estaciones de servicio en el camino?",
			respuesta:
				"Sí, hay varias estaciones de servicio a lo largo de la ruta, especialmente en las principales ciudades y pueblos. Pero se recomienda llenar el tanque saliendo de barichara.",
		},
		{
			pregunta: "¿Las carreteras están en buenas condiciones?",
			respuesta:
				"En general, las carreteras están en buen estado, aunque algunas rutas pueden tener tramos de carretera destapada.",
		},
	],
	"Atracciones turisticas": [
		{
			pregunta:
				"¿Qué lugares turísticos se pueden visitar en cada destino?",
			respuesta: {
				VillaDeLeyva:
					"La Plaza Mayor, el Museo Paleontológico, el Convento del Santo Ecce Homo, Museo del chocolate.",
				Raquira:
					"Conocida por su artesanía de barro, puedes visitar talleres de cerámica, tiendas de artesanía, laverinto y su mano del artesano.",
				Sachica: "El Templo de Sáchica, los termales y los petroglifos",
			},
		},
	],
	"Seguridad y equipamiento": [
		{
			pregunta: "¿Qué equipo de seguridad se recomienda llevar?",
			respuesta:
				"Es esencial llevar un casco certificado, guantes, chaqueta con protección, pantalones resistentes.",
		},
	],
	"Alojamiento y estancia": [
		{
			pregunta: "¿Hay opciones de alojamiento en cada parada?",
			respuesta:
				"Sí, en cada destino hay diversas opciones de alojamiento que van desde hoteles y hostales hasta casas rurales y campings. Para esta ruta se arquilo un apartaento en Villa de leyva",
		},
	],
	Costos: [
		{
			pregunta:
				"¿Cuál es el rango de precios de los hoteles y hostales en Villa de leyva?",
			respuesta:
				"El rango de precios de los hoteles y hostales en Villa de leyva varía desde económicos hasta más lujosos, oscilando entre 50,000 y 250,000 COP por noche.",
		},
		{
			pregunta:
				"¿Cuál es el promedio de consumo de gasolina para una moto en un viaje de 200 km en Colombia?",
			respuesta:
				"El consumo promedio de gasolina para una moto en un viaje de 200 km en Colombia suele ser de aproximadamente 6 a 10 litros, dependiendo del modelo y eficiencia de la moto. teniendo en cuanta ese rango se estima un costo de 60,000 a 80,000 COP.",
		},
	],
};
---

<Layout title="Paseo 2025">
	<Init />
	<Where />
	<section
		class="min-h-screen flex flex-col items-center justify-center bg-orange-50 text-black questions"
	>
		<Title title="Preguntas frecuentes" subtitle="Quieres saber mas..." />

		<div class="contentQuest">
			{
				Object.entries(viajeEnMoto).map(([key, value]) => (
					<article class="w-full">
						<h3 class="text-xl font-semibold">{key}</h3>
						{value.map((item) => (
							<details>
								<summary class="text-lg font-semibold">
									{item.pregunta}
								</summary>
								{typeof item.respuesta === "string" ? (
									<p>{item.respuesta}</p>
								) : (
									<ul>
										{Object.entries(item.respuesta).map(
											([key, value]) => (
												<li class="">
													<strong>{key}:</strong>{" "}
													{value}
												</li>
											),
										)}
									</ul>
								)}
							</details>
						))}
					</article>
				))
			}
		</div>
	</section>
	<Invitation />
</Layout>

<style>
	.questions {
		padding: 40px 55px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto-fit, 1fr);
		@apply gap-4;

		.titleSections {
			grid-column: -1 / 1;
			margin: auto;
		}

		div {
			grid-column: -1 / 1;

			article {
				height: min-content;
				max-width: 900px;
				margin: auto;
				height: 100%;
				padding-bottom: 10px;

				summary {
					cursor: pointer;
				}

				details {
					margin-top: 1rem;
					padding: 1rem;
					@apply bg-orange-100 rounded-md;
				}
			}
		}

		@media (min-width: 1500px) {
			div {
				grid-row: 1 / 2;
				grid-column: 1 / 2;
			}

			.titleSections {
				grid-column: 2 / 3;
				grid-row: 1;

				margin-top: 0;
				position: sticky;
				top: 150px;
			}
		}
	}
</style>

<script>
	const details = document.querySelectorAll("details");

	details.forEach((detail) => {
		detail.addEventListener("toggle", (e) => {
			if (detail.open) {
				const openDetails = document.querySelectorAll("details[open]");

				openDetails.forEach((open) => {
					if (open !== detail) {
						open.removeAttribute("open");
						console.log(open);
					}
				});
			}
		});
	});
</script>
