---
import Image from "astro/components/Image.astro";

interface Cards {
    class: string;
    src: string;
    alt: string;
    p: string;
}

const { src, alt, p, class: className } = Astro.props;

const id =
    Math.random().toString(36).substring(2, 15) +
    Math.random().toString(36).substring(2, 15);
---

<div class={`card ${className}`} id={id}>
    <div class="w-full h-full">
        <Image src={src} alt={alt} />
        <p>{p}</p>
    </div>
</div>

<style>
    .card {
        img {
            transition: all 0.3s ease;
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
</style>
