---
import Logo from "src/components/Logo.astro";
import SpeedInsights from "@vercel/speed-insights/astro";

interface Props {
	title: string;
	description?: string;
	img?: string;
}

const {
	title,
	description = "Vive la aventura de recorrer pueblos llenos de historia y encanto, en este año 2025 en su primer version se visito los pueblo de barichara a villa de leyva y requira, conoce mas de esta experiencia unica y inscribeta para la proxima",
	img = "https://res.cloudinary.com/dtugibsbq/image/upload/v1745680000/dfottkegedxm6hf7bncb-min_f2stzr.jpg",
} = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={img} />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:type" content="website" />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={img} />

		<title>{title}</title>
		<SpeedInsights />
	</head>
	<body>
		<slot />
		<footer
			class="min-h-[200px] bg-orange-400 flex flex-col justify-center items-center gap-4 py-11"
		>
			<div class="flex flex-col gap-2 items-center">
				<h1 class="text-4xl text-center font-semibold">
					Aventuras de 2025
				</h1>
				<Logo />
			</div>
			<div class="flex flex-col">
				<p class="text-orange-50 text-sm">
					Todos los derechos reservados © 2025
				</p>
				<a
					href="https://github.com/DonatoSilva"
					class="w-full text-orange-100 text-center text-sm underline"
					>Creado por Donato silva</a
				>
			</div>
		</footer>
		<span id="notification" class=""></span>
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		@apply bg-orange-400;
		@apply text-white;
	}

	#notification {
		@apply fixed top-6 right-1/2 translate-x-1/2 bg-orange-500 text-orange-100 font-semibold rounded-md px-4 py-1 text-base z-50 hidden border-2 border-dotted border-white;

		&.show {
			visibility: visible;
			display: block;
			animation: show 5s ease-in-out forwards;
		}
	}

	@keyframes show {
		0% {
			opacity: 0;
		}
		10% {
			opacity: 1;
		}
		20% {
			opacity: 1;
		}
		40% {
			opacity: 1;
		}
		80% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
</style>

<script>
	import { showNotify } from "@/utils/popsNotification";
	import { actions } from "astro:actions";

	class CardAlbumFooter extends HTMLElement {
		constructor() {
			super();

			const id = this.getAttribute("data-id")?.valueOf();
			const btnShareValue = this.querySelector(
				".share .value",
			) as HTMLSpanElement;
			const btnShare = this.querySelector(".share") as HTMLSpanElement;

			async function handleShare() {
				let url = window.location.href;
				const urlOrigin = window.location.origin;

				if (urlOrigin === url || urlOrigin + "/" === url) {
					url = `${urlOrigin}/album/${id}`;
				}

				try {
					showNotify("Compartiendo... 🚀");
					const shareData = {
						title: "Compartir álbum de Travel-2025",
						text: "¡Mira este increíble álbum de viajes!",
						url: url,
					};

					if (navigator.share) {
						await navigator.share(shareData);
						showNotify("¡Compartido con éxito! 🎉");
					} else {
						await navigator.clipboard.writeText(shareData.url);
						showNotify("¡Enlace copiado al portapapeles! 📋");
					}

					const { data, error } = await actions.Memory.addShare({
						albumId: id ?? "",
					});

					if (error) {
						console.error(
							`Error al compartir, album ${id}:`,
							error,
						);
					}

					const { newShare } = data?.body!;
					btnShareValue.textContent = newShare.toString();
				} catch (err) {
					console.error("Error al compartir:", err);
					showNotify("Error al compartir el álbum. 😢");
				}
			}

			btnShare?.addEventListener("click", handleShare);
		}
	}

	customElements.define("card-album-footer", CardAlbumFooter);
</script>
